.facilities-list ul {
  display: flex;
  flex-flow: wrap column;
  max-height: 150px;
  max-width: 85%;
  text-align: left;
  align-items: flex-start;
  align-content: space-between;
  padding-bottom: 30px;
  margin: 0 auto;
}

.facilities-list li {
  line-height: 1.5;
  list-style-type: disc;
  font-weight: lighter;
  color: #626262;
}

@media (max-width: 600px) {
  .facilities-list ul {
    max-width: 70% !important;
  }
}
@media (max-width: 900px) {
  .facilities-list ul {
    max-height: 100%;
    flex-flow: column;
    max-width: 40%;
  }
}
