.notfound-container {
  text-align: center;
  margin-top: -100px;
  padding-bottom: 20px;
}
.notfound-text {
  padding-top: 170px;
  font-weight: lighter;
  color: #626262;
  font-size: 20px;
}
.notfound-image {
  position: relative;
  top: 150px;
  height: 300px;
  margin: 0 auto 0 auto;
}
.notfound-link {
  padding-top: 10px;
  text-decoration: none;
  font-size: 16px;
  color: #eb5a34;
}
.notfound-link:hover {
  text-decoration: bold;
}
