.contents {
  display: inline-block;
  line-height: 1.5;
  max-width: 60%;
  font-weight: lighter;
  color: #626262;
  padding: 20px 0;
}

@media (max-width: 400px) {
  .contents {
    max-width: 80%;
    text-align: left;
  }
}
