.tour-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.tour-wrapper {
  position: relative;
  padding: 20px;
}

.tour-image {
  -webkit-transform: translate3d(0, 0, 0);
  position: static;
  display: block;
  width: 350px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: none;
}

.tour-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 23px;
  font-weight: bold;
}

.tour-location {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 16px;
}

.tour-description {
  font-size: 16px;
  max-width: 275px;
  color: #626262;
  font-weight: lighter;
  margin: 0 auto;
  padding-top: 10px;
}

@media (max-width: 400px) {
  .tour-image {
    width: 275px;
    height: 180px;
  }
  .tour-title {
    font-size: 20px;
  }
  .tour-location {
    font-size: 14px;
  }
}
